.link__group__heading {
  font-size: 20px;
  @apply font-bold text-gray-800 dark:text-gray-200;
  @apply flex items-center;
  .mat-icon {
    @apply text-primary;
  }
}
.link__nav {
  a {
    display: block;
    padding: 8px 0;
    opacity: 0.5;
    &.active,
    &:hover {
      @apply font-semibold;
      opacity: 1;
    }
  }
}
