<div class="w-72 max-w-xs px-4 py-6">
  <nav>
    <ul class="_navbar__nav">
      <li class="_nav__item">
        <a class="_nav__link" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </a>
      </li>
      <li class="_nav__item">
        <a
          class="_nav__link"
          routerLink="/docs"
          routerLinkActive="active"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <mat-icon>article</mat-icon>
          <span>APIs Guide</span></a
        >
      </li>
      <li class="_nav__item">
        <a class="_nav__link" href="http://github.com" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
          ><mat-icon>location_on</mat-icon> <span>Github</span></a
        >
      </li>
    </ul>
  </nav>
</div>
