<div class="w-72 max-w-xs px-4 py-6">
    <nav >
      <ul class="navbar__nav">
        <li class="nav__item">
          <a class="nav__link" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{'exact': true}">Home</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" routerLink="/docs" routerLinkActive="active" routerLinkActive="active" [routerLinkActiveOptions]="{'exact': true}">Docs</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="http://github.com" routerLinkActive="active" [routerLinkActiveOptions]="{'exact': true}">Github</a>
        </li>
      </ul>
    </nav>
  </div>