._nav {
  &__link {
    display: flex;
    align-items: center;
    padding: 10px 0;
    opacity: 0.6;
    font-size: 14px;
    line-height: 24px;

    .mat-icon {
      font-size: 18px;
      height: 18px;
      width: 18px;
      margin-right: 12px;
    }

    &.active,
    &:hover {
      opacity: 1;
    }
  }
}
