.sr-toolbar {
  --padding-y: 14px;
  padding-top: var(--padding-y);
  padding-bottom: var(--padding-y);

  // position: sticky;
  // left: 0;
  // right: 0;
  // top: 0;
  // z-index: 1000;
  .mdc-icon-button {
    --mat-icon-button-state-layer-size: 40px;
    padding: 8px;
    --mat-icon-button-icon-size: 22px;
    .mat-mdc-button-touch-target {
      width: var(--mat-icon-button-state-layer-size);
      height: var(--mat-icon-button-state-layer-size);
    }
    .mat-icon {
      height: 22px;
      width: 22px;
      font-size: 22px;
    }
  }

  @media (max-width: 1199px) {
    --padding-y: 8px;
    .mdc-icon-button {
      --mat-icon-button-state-layer-size: 36px;
      padding: 6px;
      --mat-icon-button-icon-size: 20px;
      .mat-mdc-button-touch-target {
        width: var(--mat-icon-button-state-layer-size);
        height: var(--mat-icon-button-state-layer-size);
      }
      .mat-icon {
        height: 20px;
        width: 20px;
        font-size: 20px;
      }
    }
  }
}

.navbar {
  &__nav {
    @apply flex items-center flex-wrap pr-1;
    @apply relative;

    &::before {
      content: '';
      @apply absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      height: 100%;
      max-height: 26px;
      width: 1px;
      @apply bg-gray-400;
    }
  }

  &__icons {
    @apply pl-4;
  }
}

.nav {
  &__link {
    @apply py-2 px-4 rounded;
    opacity: 0.5;
    display: block;
    height: 40px;

    &:hover,
    &.active {
      opacity: 1;
    }
  }
}
