.navbar {
  &__nav {
    @apply flex items-center flex-wrap;
  }
  &__icons {
    @apply relative pl-4;
    &::before {
      content: '';
      @apply absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      height: 100%;
      max-height: 26px;
      width: 1px;
      @apply bg-gray-400;
    }
  }
}
.nav {
  &__item {
    &:not(:first-child) {
      .nav__link {
        @apply ml-2;
      }
    }
  }
  &__link {
    @apply py-3 px-6 rounded;
    opacity: 0.5;
    &:hover,
    &.active {
      opacity: 1;
      @apply font-semibold bg-indigo-50;
    }
  }
}
::ng-deep {
  .dark {
    .nav {
      &__link {
        &:hover,
        &.active {
          @apply bg-gray-800;
        }
      }
    }
  }
}
