<div class="bg-card rounded">
  <h3 *ngIf="!data" mat-dialog-title class="border-b dark:border-gray-700">Add Cart</h3>
  <mat-dialog-content>
    @if ((isProductLoaded$ | async) && (isUserLoaded$ | async) ) {
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="ti-form mt-4 pt-4">
      <ng-container *ngIf="!data">
        <div class="flex flex-wrap -mx-3 mb-6">
          <div class="w-full px-3">
            <mat-form-field appearance="fill" class="w-full">
              <mat-label >User</mat-label>
              <mat-select formControlName="userId" id="id_user">
                <mat-option *ngFor="let item of users$ | async" [value]="item._id">
                  {{ item.name | titlecase }}
                </mat-option>
              </mat-select>
              <mat-error
                *ngIf="form.get('userId')?.touched && form.get('userId')?.hasError('required')"
                class="text-xs italic"
              >
                Please fill out this field.
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="flex flex-wrap -mx-3 mb-6">
          <div class="w-full px-3">
            <mat-form-field appearance="fill" class="w-full">
              <mat-label>Product</mat-label>
              <mat-select formControlName="productId" id="id_product">
                <mat-option *ngFor="let item of products$ | async" [value]="item._id">
                  {{ item.title | titlecase }}
                </mat-option>
              </mat-select>
              <mat-error
                *ngIf="form.get('productId')?.touched && form.get('productId')?.hasError('required')"
                class="text-xs italic"
              >
                Please fill out this field.
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </ng-container>
      <div class="flex flex-wrap -mx-3">
        <div class="w-full px-3">
          <label for="id_quantity"> Quantity * </label>
          <input
            formControlName="quantity"
            [class.border-red-500]="form.get('quantity')?.touched && form.get('quantity')?.invalid"
            id="id_quantity"
            type="number"
            [min]="1"
          />
          <p
            *ngIf="form.get('quantity')?.touched && form.get('quantity')?.hasError('required')"
            class="text-red-500 text-xs italic"
          >
            Please fill out this field.
          </p>
        </div>
      </div>
      <div class="flex justify-end mt-2">
        <button class="mr-4 px-4" type="button" mat-button mat-dialog-close>Cancel</button>
        <button [disabled]="form.invalid" type="submit" mat-flat-button color="primary">
          {{ data ? 'Update' : 'Submit' }}
        </button>
      </div>
    </form>
    } @else {
    <mat-spinner [strokeWidth]="2" [diameter]="35"></mat-spinner>
    }
  </mat-dialog-content>
</div>
