::ng-deep {
  .cart-accordion {
    .mat-expansion-panel {
      border: 1px solid var(--border-color);
      border-radius: 0;

      &:not(:last-child) {
        border-bottom: 0;
      }

      &:first-child {
        border-top-left-radius: 7px !important;
        border-top-right-radius: 7px !important;
      }

      &:last-child {
        border-bottom-left-radius: 7px !important;
        border-bottom-right-radius: 7px !important;
      }
    }
    .mat-expansion-panel-spacing {
      margin: 0;
    }

    .mat-expansion-panel-header {
      height: 56px;
      &.mat-expanded {
        @apply bg-gray-300 dark:bg-gray-700;
      }
    }

    .mat-expansion-panel-content {
      border-top: 1px solid var(--border-color);
    }
  }
}
