.sidenav {
  padding: 15px 0;
  width: 100%;
  position: relative;
  width: 265px;
}

::ng-deep {
  .theme-dark {
    .mat-drawer-inner-container {
      background-color: #253746;
      color: #fff;
    }
  }
}
