<div class="sidenav">
  <div class="flex flex-col">
    <ul class="list-reset flex flex-col">
      <li class="w-full"><a class="block py-2 px-4 shadow" [routerLink]="'users'" routerLinkActive="bg-white bg-opacity-5 text-primary">Users</a></li>
      <li class="w-full"><a class="block py-2 px-4 shadow" [routerLink]="'products'" routerLinkActive="bg-white bg-opacity-5 text-primary">Products</a></li>
      <li class="w-full"><a class="block py-2 px-4" [routerLink]="'categories'" routerLinkActive="bg-white bg-opacity-5 text-primary">Categories</a></li>
    </ul>
  </div>
</div>