.profile-menu {
  width: 190px;
  .mat-icon {
    font-size: 20px;
    height: 20px;
    width: 20px;
  }
}

.admin-toolbar {
  --padding-y: 14px;
  padding-top: var(--padding-y);
  padding-bottom: var(--padding-y);
  .mdc-icon-button {
    --mdc-icon-button-state-layer-size: 40px;
    padding: 8px;
    --mdc-icon-button-icon-size: 22px;
    .mat-mdc-button-touch-target {
      width: var(--mdc-icon-button-state-layer-size);
      height: var(--mdc-icon-button-state-layer-size);
    }
    .mat-icon {
      height: 22px;
      width: 22px;
      font-size: 22px;
    }
  }

  
  @media (max-width: 1199px) {
    --padding-y: 8px;
    .mdc-icon-button {
      --mdc-icon-button-state-layer-size: 36px;
      padding: 6px;
      --mdc-icon-button-icon-size: 20px;
      .mat-mdc-button-touch-target {
        width: var(--mdc-icon-button-state-layer-size);
        height: var(--mdc-icon-button-state-layer-size);
      }
      .mat-icon {
        height: 20px;
        width: 20px;
        font-size: 20px;
      }
    }
  }
}
