// Doc Card
.card {
  @apply flex flex-col;
  @apply min-w-0 p-4 xxl:p-8;
  @apply rounded;
  @apply break-words;
  position: relative;
  background-clip: border-box;
  border-radius: 0.25rem;

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
  }

  &__title {
    @apply mb-0 mb-10 font-extrabold flex items-center;
    font-size: 1.5rem;
    .mat-icon {
      font-size: 1.5rem;
      line-height: 1.5rem;
      height: 1.5rem;
      width: 1.5rem;
      margin-right: 1rem;
      @apply text-primary;
    }
  }
}
