.ti-form {
  label {
    @apply block uppercase tracking-wide text-xs font-bold mb-2;
    @apply text-gray-700 dark:text-white;
  }

  select:not(.mat-mdc-input-element),
  textarea:not(.mat-mdc-input-element),
  input:not(.mat-mdc-input-element) {
    border-color: var(--border-color);
    @apply appearance-none block w-full rounded py-3 px-4 mb-3 leading-tight focus:outline-none;
    @apply text-gray-700 border focus:border-gray-500;
    @apply dark:text-gray-300;
  }
}

.field {
  &__mat-field {
    width: 100%;
    max-width: 320px;
    .mat-form-field-wrapper {
      margin: 0;
      padding: 0;
    }
    .mat-form-field-infix {
      width: 170px;
      padding: 10px 0;
      border-top: 5px solid transparent;
      font-size: 13px;
    }
    .mat-select-arrow-wrapper {
      transform: none !important;
    }
  }
}

.dark {
  .ti-form {
    .mdc-text-field--filled:not(.mdc-text-field--disabled),
    select:not(.mat-mdc-input-element),
    textarea:not(.mat-mdc-input-element),
    input:not(.mat-mdc-input-element) {
      background-color: #30384b;
    }
  }
}
