pre[class*='language-'] {
  padding: 16px;
  margin: 8px 0;
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    background-color: red;
    border-radius: 100px;
    width: 6px;
  }
}
