.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
// .example-is-mobile .example-toolbar {
//   position: fixed;
//   /* Make sure the toolbar will stay on top of the content as it scrolls past. */
//   z-index: 2;
// }

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}
.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}
// .layout {
//   $sidenavWidth: 260px;
//   &__container {
//     position: relative;
//     z-index: 1;
//     box-sizing: border-box;
//     -webkit-overflow-scrolling: touch;
//     display: block;
//     overflow: hidden;
//     height: 100vh;
//   }
//   &__sidenav {
//     position: relative;
//     z-index: 4;
//     display: block;
//     position: absolute;
//     top: 0;
//     bottom: 0;
//     outline: 0;
//     box-sizing: border-box;
//     // transform: translate3d(-100%, 0, 0);
//     width: $sidenavWidth;
//   }
//   &__content {
//     position: relative;
//     z-index: 1;
//     display: block;
//     height: 100%;
//     overflow: auto;
//     margin-left: $sidenavWidth;
//   }
// }

// @media (max-width: 499px) {
//   .layout {
//     $sidenavWidth: 85px;
//     &__sidenav {
//       width: $sidenavWidth;
//     }
//     &__content {
//       margin-left: $sidenavWidth;
//     }
//   }
// }
