<div class="bg-card rounded">
  <h3 mat-dialog-title>Add todo</h3>
  <mat-dialog-content>
    <form
      [formGroup]="form"
      (ngSubmit)="onFormSubmit()"
      class="ti-form mt-4"
    >
      <div class="flex flex-wrap -mx-3">
        <div class="w-full px-3">
          <label for="id_title"> Title * </label>
          <input
            formControlName="title"
            [class.border-red-500]="form.get('tiele')?.touched && form.get('tiele')?.invalid"
            id="id_title"
            type="text"
            placeholder="Todo title"
          />
          <p
            *ngIf="form.get('tiele')?.touched && form.get('tiele')?.hasError('required')"
            class="text-red-500 text-xs italic"
          >
            Please fill out this field.
          </p>
        </div>
      </div>
      <div class="flex justify-end mt-2">
        <button class="mr-4" type="button" mat-button mat-dialog-close>Cancle</button>
        <button [disabled]="form.invalid" type="submit" mat-flat-button color="primary">
          Submit
        </button>
      </div>
    </form>
  </mat-dialog-content>
</div>