.sidenav {
  width: 100%;
  position: relative;
  width: 265px;
}

.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}
.example-tree-node {
  display: block;
}

.menu-item {
  --menu-icon-size: 18px;
  padding: 10px 5px 10px 16px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  &__icon {
    @apply mr-2;
    font-size: var(--menu-icon-size);
    width: var(--menu-icon-size);
    height: var(--menu-icon-size);
    &--toggler {
      font-size: 18px;
      width: 18px;
      height: 18px;
    }
  }
  &:hover,
  &.active {
    background-color: #e1e7ed;
  }
}
.tree-node .tree-node .menu-item {
  padding-left: 40px;
}

::ng-deep {
  .dark {
    .menu-item {
      color: #c5ceda;
      &:hover,
      &.active {
        background-color: #48525a;
      }
    }
  }
}
