<div class="page__container">
  <div class="page__content">
    <div class="page__toolbar">
      <a routerLink="/users" mat-flat-button><mat-icon class="mr-2">arrow_back</mat-icon> Back to users</a>
      <!-- <div class="ml-auto"></div> -->
    </div>
    <div class="page__table">
      <div *ngIf="(user$ | async) as user; else emptyUser">
        <h2>User name: {{user.name}}</h2>
        <p>Email: {{ user.email }}</p>
      </div>
      <ng-template #emptyUser>
        <div class="flex items-center flex-col">
          <h4>Nothing found!</h4>
          <a mat-flat-button color="accent" routerLink="/users">Back to user list</a>
        </div>
      </ng-template>
    </div>
  </div>
</div>