<footer class="border-t dark:border-gray-700 dark:bg-gray-900 py-6">
  <div class="container-fluid">
    <div class="flex items-center justify-between flex-wrap">
      <p class="mb-0">© Copyright 2021. All Rights Reserved.</p>
      <div class="flex item-center">
        <a href="https://buymeacoffee.com/sajalmia" class="hover:text-primary">Buy Me A Coffee</a>
        <div class="px-2">|</div>
        <p>
          <span class="font-medium text-warn">Sponsor By</span>:
          <a class="hover:text-primary" ref="nofollow" href="https://techincent.com">Tech Incent</a>
        </p>
      </div>
    </div>
  </div>
</footer>