<footer class="border-t dark:border-gray-700 dark:bg-gray-900 py-6">
  <div class="container-fluid">
    <div class="flex items-center justify-between flex-wrap text-sm -mt-2">
      <p class="mb-0 mt-2">© Copyright 2021-2022. All Rights Reserved.</p>
      <div class="flex item-center flex-wrap">
        <div class="mt-2">
          <span class="font-medium text-warn mr-1">Crated By: </span>
          <a class="hover:text-primary" ref="nofollow" href="https://www.linkedin.com/in/sajalmia381">Md. Sajal Mia</a>
        </div>
        <div class="px-2 mt-2">|</div>
        <div class="mt-2">
          <span class="font-medium text-warn mr-1">Sponsor By: </span>
          <a class="hover:text-primary" ref="nofollow" href="https://techincent.com">Tech Incent</a>
        </div>
      </div>
    </div>
  </div>
</footer>