// Layout
.doc-layout-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
// Layout end

.doc {
  &__content {
    @apply p-4 sm:p-8 xxl:p-10 flex-grow;
  }
}
