<div class="mb-2">
  <div *ngIf="uploaded" class="rounded py-2 px-5 bg-green-400 mb-3">
    Successfully! image uploaded!
  </div>
  <img [src]="imagePreview" width="100" alt="">
  <div *ngIf="!imageFile"
    class="relative h-40 rounded-lg border-dashed border-2 border-gray-200 bg-white flex justify-center items-center hover:cursor-pointer">
    <div class="absolute">
      <div class="flex flex-col items-center "> <i class="fa fa-cloud-upload fa-3x text-gray-200"></i> <span
          class="block text-gray-400 font-normal">Attach you files here</span> <span
          class="block text-gray-400 font-normal">or</span> <span class="block text-blue-400 font-normal">Browse
          files</span> </div>
    </div>
    <input (change)="onFileSelect($event)" type="file" class="h-full w-full opacity-0 cursor-pointer" required>
  </div>

  <div class="flex items-center mt-5">
    <button type="button" (click)="onSubmit()" mat-flat-button color="primary">Upload image</button>
    <button type="button" matDialogClose mat-flat-button color="warn" class="ml-2">Close</button>
  </div>
</div>