@use './assets/scss/material.scss';

// Tailwind css
@use 'tailwindcss/base';
@use 'tailwindcss/components';
@use 'tailwindcss/utilities';

// Prism css
/* Prismjs theme */
@use 'prismjs/themes/prism-okaidia.css';

/* You can add global styles to this file, and also use other style files */
// Variables always will be top
@use './assets/scss/variables.scss';
@use './assets/scss';

html,
body {
  height: 100%;
}
html {
  scroll-behavior: smooth;
  font-size: 16px;
}
body {
  margin: 0;
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  letter-spacing: 0.3px;

  background-color: var(--bg-color);
  color: var(--text-color);
}

a {
  transition: all 0.3s linear;
}

.container {
  margin-left: auto;
  margin-right: auto;
  @apply pl-4 pr-4;
  &-fluid {
    width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    @apply pl-4 pr-4;
  }
}

@screen xxl {
  .container {
    &-fluid {
      @apply pl-8 pr-8;
    }
  }
}

.global-loader {
  @apply fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}
