<div class="page__container">
  <div class="page__toolbar">
    <div class="flex items-center">
      <a
        routerLink="../"
        matTooltip="Back to Users"
        mat-icon-button
        class="mr-3 bg-white text-center"
        ><mat-icon>keyboard_backspace</mat-icon></a
      >
      <h2>New User Form</h2>
    </div>
  </div>
  <div class="page__content">
    <div class="px-4 flex justify-center pt-12">
      <form
        [formGroup]="userForm"
        (ngSubmit)="onSubmit()"
        class="ti-form bg-card p-page rounded w-full max-w-3xl"
      >
        <div class="flex flex-wrap -mx-3 mb-6">
          <div class="w-full px-3">
            <label for="id_email"> Email * </label>
            <input
              formControlName="email"
              [class.border-red-500]="email.touched && email.invalid"
              id="id_email"
              type="email"
              placeholder="Email"
            />
            <p
              *ngIf="email.touched && email.hasError('required')"
              class="text-red-500 text-xs italic"
            >
              Please fill out this field.
            </p>
            <p *ngIf="email.touched && email.hasError('email')" class="text-red-500 text-xs italic">
              Please input valid email
            </p>
          </div>
        </div>
        <div class="flex flex-wrap -mx-3 mb-6">
          <div class="w-full px-3">
            <label for="id_password"> Password * </label>
            <input
              formControlName="password"
              [class.border-red-500]="password.touched && password.invalid"
              id="id_password"
              type="password"
              placeholder="********"
              autocomplete="new-password"
            />
            <p
              *ngIf="password.touched && password.hasError('required')"
              class="text-red-500 text-xs italic"
            >
              Please fill out this field.
            </p>
            <p
              *ngIf="password.touched && password.hasError('minLength')"
              class="text-red-500 text-xs italic"
            >
              Password must be equal or more than six letters
            </p>
          </div>
        </div>
        <div class="flex flex-wrap -mx-3 mb-6">
          <div class="w-full px-3">
            <label for="id_passwordRepeat"> Password Confirmation * </label>
            <input
              formControlName="password_repeat"
              [class.border-red-500]="passwordRepeat.touched && passwordRepeat.invalid"
              id="id_passwordRepeat"
              type="password"
              placeholder="********"
              autocomplete="new-password"
            />
            <p
              *ngIf="passwordRepeat.touched && passwordRepeat.hasError('mustMatch')"
              class="text-red-500 text-xs italic"
            >
              Password is not match
            </p>
          </div>
        </div>
        <div class="flex flex-wrap -mx-3">
          <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
            <label for="id_name"> Name * </label>
            <input
              [class.border-red-500]="name.touched && name.invalid"
              formControlName="name"
              id="id_name"
              type="text"
              placeholder="Full name"
            />
            <p
              *ngIf="name.touched && name.hasError('required')"
              class="text-red-500 text-xs italic"
            >
              Please fill out this field.
            </p>
          </div>
          <div class="w-full md:w-1/2 px-3">
            <label for="id_number"> Number </label>
            <input formControlName="number" type="number" placeholder="Number" id="id_number" />
          </div>
        </div>
        <div class="flex justify-end">
          <button
            [disabled]="userForm.invalid"
            class="mt-2"
            color="primary"
            mat-flat-button
            type="submit"
          >
            <mat-icon class="mr-2">save</mat-icon>Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
